.outerWrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
    margin-top: 100px;
}
.innerWrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
.filterWrapper{
    width: 180px
}
.filterOption{
    display: flex;
    flex-direction: column;
}
.filterCheckbox{
    margin: 6px 0;
    cursor: pointer;
}
.filterCheckbox input{
    margin-right: 12px;
}
.filterOption p{
    margin:24px 0px ;
}
.orderTable{
    width: 100%;
    border-collapse: collapse;
}
.orderTable tr{
    vertical-align: middle;
}
.orderTable th{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.orderTable td{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.secondaryText{
    color: #8c8c8c
}
.primaryText{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}